@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --breakpoint-xs: 30rem;
  --color-preply-green: #7ae326;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.green_underlined {
  @apply relative after:content-[''] after:w-full after:h-[30px] after:left-0 after:bottom-[-20px] after:z-10 after:absolute after:bg-center after:bg-no-repeat after:bg-cover after:bg-[url('../public/line.svg')];
}

.round_marking {
  @apply relative after:content-[''] after:-rotate-5 after:w-[80px] after:h-[40px] after:sm:w-[110px] after:sm:h-[50px] after:md:w-[140px] after:md:h-[70px] after:lg:w-[160px] after:lg:h-[80px] after:-left-3 after:bottom-[-5px] after:sm:-left-5 after:sm:bottom-[-6px] after:md:-left-6 after:md:bottom-[-8px] after:z-10 after:absolute after:bg-center after:bg-no-repeat after:bg-cover after:bg-[url('../public/round-marking.svg')];
}
